@page "/expenses"
@inherits ExpenseOverviewBase
<div class="entity-edit">
    <h1 class="page-title">All Expenses</h1>

    @if (Expenses == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Expense ID</th>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Expenses)
                {
                <tr>
                    <td>@expense.ExpenseId</td>
                    <td>@expense.Title</td>
                    <td>@expense.Amount.ToString("C")</td>
                    <td>@expense.Status</td>
                    <td>
                        <a href="@($"expenseedit/{expense.ExpenseId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    </div>